.home-container{
    height: 100vh;
    background: url('../../img/bg4.jpg') no-repeat center #eee;
    /* background-size:100% 100%; */
    background-size: cover;
    background-repeat: no-repeat;
}